body{
    background-color: pink;
}

#signUp{
    display: inline-block;
    margin-left: 350px;
    vertical-align: top;
    margin-top: 50px;

}

#logIn{
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 50px;

}