<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinder 2.0</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="signUp">
        <h2>Sign up for a new account</h2>
        <label> Firstname:</label> </br> 
        <input type="text" placeholder="Firstname"> </br> 
    </br> 
        <label> Lastname:</label></br> 
        <input type = "text" placeholder="Lastname"></br> 
    </br> 
        <label>Email:</label></br> 
        <input type = "text" placeholder="Email"></br> 
    </br> 
        <label> Phone: </label></br> 
        <input type="number" placeholder="Phone number"></br> 
    </br> 
        <label>Username:</label></br> 
        <input type="text" placeholder="Username"></br> 
    </br> 
        <label>Password:</label></br> 
        <input type="text" placeholder="Password"></br> 
    </br> 
        <button type = "submit"> Create account </button>

    </div>
    
    <div id = "logIn">
        <h2>Log in</h2>
    </br> 
    <label>Username:</label></br> 
    <input type="text" placeholder="Username"></br> 
</br> 
    <label>Password:</label></br> 
    <input type="text" placeholder="Password"></br> 
</br> 
    <button type = "submit"> Log in </button>
    </div>
</body>
</html>